body, html {

}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;

}

.text {
    z-index:2;
    position: relative;
    opacity: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;

}

.navbar-brand {
    z-index:2;

}
.nav {
    float: right;
    z-index: 2;
    background:grey;
    opacity:80%;
    color:navy;
    text-size-adjust: 32;
}
.image{
    z-index: 2;
    opacity: 0.5;
}

.d-flex {
    z-index:3;
    color: white;
}
.p-2 {
    z-index:3;
    color: white;
    
}
.p-5 {
    z-index:3;
    color: white;
    font-size: 16px;
}
.order-3 {
    z-index:3;
    color: white;
    flex-basis: 25%;
}
.order-1 {
    z-index:3;
    color: white;
    flex-basis: 10%;
}
.order-2 {
    z-index:3;
    color: white;
    flex-basis: 10%;
}
.order-4 {
    z-index:3;
    color: white;
    flex-basis: 15%;
}
.order-0 {
    z-index:3;
    color: white;
    flex-basis: 10%;
}
.img-responsive {
    z-index: 3;
    height:50%;
    width:50%;

}

.card {
    text-align:center;
    border-radius: 5px;
    grid-template-rows: max-content 200px 1fr;
    margin-top:3%;
    text-decoration: crimson;
    

}

.card:hover {
    
}

.video2 {
    position: relative;
    z-index: 3;
}

.h-5 {
    z-index:3;
    color: white;
    font-size: 16px;
}
.a {
    z-index:3;
    color: white;
    font-size: 16px;
    display: inline;
} 
/* Add a black background color to the top navigation */
.topnav {
    z-index: 3;
    opacity: 90%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    z-index: 3;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    z-index: 3;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
    z-index: 3;
  }